body {
    text-align: center;
    background: url(/assets/img/fondo.jpg);
  }
  
  h1 {
    color: #888a88;
    font-family: Arial, sans-serif;
    background-color: bisque;
  }
  
  input {
    padding: 5px;
    font-size: 16px;
  }

  P{
    font-size: 28px;
    color: rgb(255, 255, 255);
    
  }
  
  button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  
  #mensaje {
    color: #fffcfc;
    font-family: Arial, sans-serif;
    font-size: 18px;
    margin-top: 20px;
  }
  